.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-icon {
  background: none;
  border: none;
  width: 70px;
  height: 70px;
  margin: 10px 20px;
  cursor: pointer;
}
.login-icon img{
  width: 100%;
}
.user-info img{
  width: 10%;
}
.login-icon #sign-out img{
  width: 10%;
  margin-left: 300px;
}
